<div class="bg-dark" [collapse]="!searchPane" [isAnimated]="true" [attr.aria-expanded]="searchPane"
  aria-controls="searchBox">
  <ng-container [ngComponentOutlet]="searchComponent"></ng-container>
</div>

<nav class="navbar navbar-expand-lg navbar-dark bg-dark py-2">
  <div class="container">
    <!-- <a class="navbar-brand" href="/">
      <fa-icon [fixedWidth]="true" icon="home-alt"></fa-icon>
    </a>
    <button class="navbar-toggler p-0 border-0" type="button" id="navbarSideCollapse" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button> -->

    <div class="navbar-collapse offcanvas-collapse">
      <div *ngIf="!searchPane" @inOutAnimation class="btn-group me-auto mb-2 mb-lg-0">
        <a routerLink="/" routerLinkActive #browserRoute="routerLinkActive" ariaCurrentWhenActive="page"
          class="btn btn-lg text-light" [class.active]="browserRoute.isActive && !trashRoute.isActive && !notFoundRouteActive"
          tooltip="Document explorer" [delay]="500" container="body" placement="bottom">
          <fa-icon [fixedWidth]="true" icon="folder-closed"></fa-icon>
        </a>
        <a routerLink="trash" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}"
          #trashRoute="routerLinkActive" ariaCurrentWhenActive="page" class="btn btn-lg text-light"
          tooltip="Deleted documents" [delay]="500" container="body" placement="bottom">
          <fa-icon [fixedWidth]="true" icon="trash"></fa-icon>
        </a>
      </div>

      <span class="flex-grow-1"></span>

      <div class="d-flex">
        <button (click)="toggleSearchPaneVisibility()" class="btn btn-link btn-lg text-light btn-open-search-box"
          [tooltip]="searchPane ? 'Close search pane' : 'Find documents'" [delay]="500" container="body"
          placement="bottom" id="searchBox">
          <fa-icon [fixedWidth]="true" [icon]="searchPane ? 'times' : 'search'"></fa-icon>
        </button>

        <div *ngIf="userInfo && !searchPane" @inOutAnimation class="dropdown">
          <div class="btn-group" dropdown placement="bottom right">
            <button id="button-user" dropdownToggle type="button"
              class="btn btn-lg link-light text-decoration-none dropdown-toggle" aria-controls="dropdown-user"
              [tooltip]="userInfo.firstName || userInfo.userName" [delay]="500" container="body">
              <img src="https://github.com/mdo.png" alt="mdo" width="32" height="32" class="rounded-circle" />
            </button>
            <ul id="dropdown-user" *dropdownMenu class="dropdown-menu dropdown-menu-dark dropdown-menu-right"
              role="menu" aria-labelledby="button-user">
              <li role="menuitem">
                <button class="dropdown-item">
                  <fa-icon [fixedWidth]="true" icon="user-gear"></fa-icon>
                  User profile
                </button>
              </li>
              <li role="menuitem">
                <button class="dropdown-item">
                  <fa-icon [fixedWidth]="true" icon="gear"></fa-icon>
                  Settings
                </button>
              </li>
              <li class="divider dropdown-divider"></li>
              <li role="menuitem">
                <button (click)="logOff()" class="dropdown-item">
                  <fa-icon [fixedWidth]="true" icon="arrow-right-from-bracket"></fa-icon>
                  Sign out
                </button>
              </li>
            </ul>
          </div>
        </div>

      </div>
    </div>
  </div>
</nav>

<!-- <ng-template #nodeTemplateRef let-root="root" let-nodes="nodes">
  <div class="list-group list-group-flush dropend">
    <div *ngFor="let node of nodes" class="list-group-item">
      <button *ngIf="!node.children.length" class="btn" (click)="openPage(root, node)" >
        {{ node.label }}
      </button>

      <div *ngIf="node.children.length" class="btn-group">
        <button class="btn" (click)="openPage(root, node)">
          {{ node.label }}
        </button>

        <button class="btn dropdown-toggle"
          [popover]="nodeTemplateRef" [popoverContext]="{ root: root, nodes: node.children }" [outsideClick]="true" 
          containerClass="menu-item" placement="right">
        </button>
      </div>
    </div>
  </div>

</ng-template> -->