@import '../../../styles/variables';

:host
{
    display: block;

    &:after {
        position: absolute;
        top: calc(100% - $header-height + 12px);
        left: 0;
        right: 0;
        height: 100vh;
        background: #17191c;
        z-index: 1050;
        opacity: 0;
        transition: opacity .3s ease-in-out;
        pointer-events: none;
    }
}

:host(.search-box-open)
{
    &:after 
    {
        opacity: .5;
        pointer-events: auto;
    }
}

.nav-link.dropdown-toggle::after 
{
    vertical-align: middle;
}

.list-group-item 
{
    padding: 0;

    .btn-group 
    {
        width: 100%;

        .btn+.btn:last-of-type:before 
        {
            content: '';
            position: absolute;
            top: 15%;
            bottom: 15%;
            left: 0;
            border-left: 1px solid #e8e8e8;
        }

    }

    .btn
    {
        text-align: left;
        position: relative;

        &:first-of-type 
        {
            width: 100%;
            min-width: 100px;
        }

        &:focus 
        {
            box-shadow: none;
        }

        &:hover 
        {
            color: #495057;
            text-decoration: none;
            background-color: #f8f9fa;
        }
    }
}

.btn.active::after
{
    display: inline-block;
    margin-left: 0.255em;
    vertical-align: 0.255em;
    content: "";
    border-top: 0;
    border-right: 0.5em solid transparent;
    border-bottom: 0.5em solid $light;
    border-left: 0.5em solid transparent;
    position: absolute;
    bottom: -7px;
    left: 12px;
}

.btn-open-search-box
{
    z-index: 1060;
}