.list-group
{
    max-height: 50vh;
    min-height: 100px;
    overflow-y: auto;
    overflow-x: hidden;
}

img
{
    width: 50px;
}

// .media-container
// {
// 	max-height: 100vh;
// 	box-shadow: 0 3px 12px -3px rgba(0, 0, 0, .25);
// 	text-align: center;
// }
