@import 'styles/_variables.scss';

main
{
    height: 100%;
    display: flex;
    flex-direction: column;

    > .container
    {
        flex: 1 0 auto;
    }

    > .toastr
    {
        position: fixed;
        bottom: 8rem;
        pointer-events: none;
        z-index: 1000;
        width: 100%;
    }
}

main header.fixed-top + .container
{
    margin-top: $header-height;
}

