<div class="list-group list-group-flush">
    <div *ngFor="let document of documentClipboard" @itemsAnimation class="list-group-item px-2 py-0"
        [ngClass]="destinationUid !== document.uid ? 'list-group-item-action' : 'list-group-item-light'">
        <div class="d-flex w-100 justify-content-between">
            <a [routerLink]="['/browse', document.uid]"
                class="btn btn-sm py-1 px-0 d-inline-flex justify-content-between align-items-center">
                <div class="media-container" [class.loading]="document.thumbnailLoadingStatus === 1">
                    <div class="skeleton" *ngIf="document.thumbnailLoadingStatus === 1"></div>

                    <img nxLazyImg (willLoadMedia)="document.thumbnailLoadingStatus = 1"
                        (didLoadMedia)="document.thumbnailLoadingStatus = 2"
                        (loadError)="document.thumbnailLoadingStatus = 3"
                        [src]="document.contextParameters?.thumbnail?.url || 'https://via.placeholder.com/50'"
                        [alt]="document.title" class="img-contain">
                </div>

                <div class="mx-2 text-start">
                    <h6 class="mb-0" [class.text-primary]="destinationUid !== document.uid">{{ document.title }}</h6>

                    <small>{{ document.type }}</small>
                    <div class="small text-muted">
                        Last modification: <abbr>{{ document.lastModified | date: 'medium' }}</abbr>
                    </div>
                </div>
            </a>

            <div class="btn-group">
                <div class="btn-group"
                    [tooltip]="document.canPaste ? 'Copy this document here' : 'Copying this document type here is not allowed'"
                    [delay]="500" container="body">
                    <button (click)="copy(document)" class="btn btn-sm p-0" [disabled]="!document.canPaste">
                        <fa-stack>
                            <fa-icon [fixedWidth]="true" icon="paste" stackItemSize="1x"></fa-icon>
                            <fa-icon *ngIf="!document.canPaste" icon="exclamation" transform="shrink-5 up-8 right-10"
                                stackItemSize="1x"></fa-icon>
                        </fa-stack>
                    </button>
                </div>
                <div class="btn-group"
                    [tooltip]="document.canPaste ? 'Move this document here' : 'Moving this document type here is not allowed'"
                    [delay]="500" container="body">
                    <button (click)="move(document)" class="btn btn-sm p-0" [disabled]="!document.canPaste">
                        <fa-stack>
                            <fa-icon [fixedWidth]="true" icon="scissors" stackItemSize="1x"></fa-icon>
                            <fa-icon *ngIf="!document.canPaste" icon="exclamation" transform="shrink-5 up-8 right-10"
                                stackItemSize="1x"></fa-icon>
                        </fa-stack>
                    </button>
                </div>
            </div>
        </div>
    </div>

    <div *ngIf="!documentClipboard.length" class="list-group-item list-group-item-light px-2 py-0">
        <small>There are no items in the clipboard.</small>
    </div>
</div>

<div *ngIf="documentClipboard.length" class="p-2 pb-0">
    <button (click)="clearClipboard()" class="btn btn-outline-secondary text-center w-100">
        <fa-icon [fixedWidth]="true" icon="eraser"></fa-icon>
        Clear clipboard
    </button>
</div>