<form *ngIf="displaySettingsForm" (ngSubmit)="applyDisplaySettings()" [formGroup]="displaySettingsForm"
    class="d-flex flex-column align-items-center">
    <div class="settings">
        <div *ngIf="filters?.controls?.length" class="form-group mb-3 w-100">
            <div class="menu-header">Filters</div>

            <ng-container formArrayName="filters">
                <div class="input-group input-group-sm mb-2">
                    <input type="text" class="form-control form-control-sm" placeholder="Title..."
                        aria-label="Filter by title" [nxAutofocus]="true">
                </div>

                <div class="input-group input-group-sm">
                    <input type="text" class="form-control form-control-sm" placeholder="Last access date..."
                        aria-label="Filter by last access date" #dp="bsDaterangepicker" bsDaterangepicker [bsValue]=""
                        [bsConfig]="{ containerClass: 'theme-dark-blue', showPreviousMonth: true, preventChangeToNextMonth: true }">

                    <button (click)="dp.toggle()" [attr.aria-expanded]="dp.isOpen" class="btn btn-outline-secondary"
                        type="button" id="button-addon2">
                        <fa-icon [fixedWidth]="true" icon="calendar-alt"></fa-icon>
                    </button>
                </div>
            </ng-container>
        </div>

        <div *ngIf="sortFields?.controls?.length" class="form-group form-group-sm mb-3 w-100">
            <div class="menu-header">Ordering</div>

            <div class="btn-group btn-group-sm" role="group" dropdown container="body">
                <button id="button_ordering" class="btn btn-outline-secondary w-100 dropdown-toggle" dropdownToggle
                    aria-controls="dropdown_ordering">
                    <fa-icon [fixedWidth]="true" icon="arrow-down-short-wide"></fa-icon>
                    Sort by title alphabetically
                </button>
                <ul *dropdownMenu id="dropdown_ordering" class="dropdown-menu" role="menu"
                    aria-labelledby="button_ordering">
                    <ng-container formArrayName="sortFields">
                        <ng-container *ngFor="let sortField of sortFields.controls">
                            <li>
                                <button class="dropdown-item">
                                    <fa-icon [fixedWidth]="true" icon="arrow-down-short-wide"></fa-icon>
                                    {{ sortField }}
                                </button>
                            </li>
                            <li>
                                <button class="dropdown-item">
                                    <fa-icon [fixedWidth]="true" icon="arrow-down-wide-short"></fa-icon>
                                    {{ sortField }}
                                </button>
                            </li>
                        </ng-container>
                    </ng-container>
                </ul>
            </div>
        </div>

        <div class="form-group mb-3 w-100">
            <div class="menu-header">Pagination</div>

            <div class="btn-group btn-group-sm" role="group" dropdown container="body">
                <button id="button_pagination" class="btn btn-sm btn-outline-secondary w-100 dropdown-toggle"
                    dropdownToggle aria-controls="dropdown_pagination">
                    Load {{ displaySettingsForm.get('pageSize')?.value }} documents at a time
                </button>
                <ul *dropdownMenu id="dropdown_pagination" class="dropdown-menu" role="menu"
                    aria-labelledby="button_pagination">
                    <li>
                        <button class="dropdown-item" [class.active]="displaySettingsForm.get('pageSize')?.value === 5">
                            Load 5 documents at a time
                        </button>
                    </li>
                    <li>
                        <button class="dropdown-item" [class.active]="displaySettingsForm.get('pageSize')?.value === 20">
                            Load 20 documents at a time
                        </button>
                    </li>
                    <li>
                        <button class="dropdown-item" [class.active]="displaySettingsForm.get('pageSize')?.value === 40">
                            Load 40 documents at a time
                        </button>
                    </li>
                </ul>
            </div>
        </div>

        <div class="form-group form-group-sm mb-3 w-100">
            <div class="menu-header">Display mode</div>

            <div class="btn-group btn-group-sm w-100" btnRadioGroup formControlName="displayMode">
                <label class="btn btn-outline-secondary" btnRadio="1" tabindex="0" role="button">
                    <fa-icon [fixedWidth]="true" icon="list-check" size="xs"></fa-icon>
                    List
                </label>
                <label class="btn btn-outline-secondary" btnRadio="2" tabindex="0" role="button">
                    <fa-icon [fixedWidth]="true" icon="border-all" size="xs"></fa-icon>
                    Grid
                </label>
                <label class="btn btn-outline-secondary" btnRadio="3" tabindex="0" role="button">
                    <fa-icon [fixedWidth]="true" icon="table" size="xs"></fa-icon>
                    Table
                </label>
            </div>
        </div>
    </div>

    <div class="btn-group btn-group-sm w-100">
        <button type="sumbit" class="btn btn-secondary" [disabled]="displaySettingsForm.pristine">
            <fa-icon [fixedWidth]="true" icon="check-double"></fa-icon>
            Apply changes
        </button>
    </div>
</form>